attr==0.3.2
ConfigParser==7.2.0
ipywidgets==8.1.8
matplotlib==3.10.8
nltk==3.9.3
pandas==3.0.2
Pillow==12.2.0
protobuf==7.34.1
psutil==7.2.1
PyInstaller==6.19.0
pyOpenSSL==26.0.0
pycocotools
pycocoevalcap
pytest==9.0.2
pytest_run_parallel==0.8.2
PyYAML==6.0.3
scipy_doctest==2.2.0
setuptools==80.10.1
thread==2.0.6
threadpoolctl==3.6.0
torch==2.10.0
torchvision==0.25.0
typing_extensions==4.15.0
urllib3_secure_extra==0.1.0
