attr==0.3.2
charset_normalizer==3.4.4
checks==0.2
ConfigParser==7.2.0
cryptography==46.0.7
Cython==3.2.4
docutils==0.22.4
filelock==3.29.0
HTMLParser==0.0.2
hypothesis==6.152.1
ipython==9.9.0
ipywidgets==8.1.8
jnius==1.1.0
keyring==25.7.0
matplotlib==3.10.8
mtrand==0.1
mypy==1.20.1
nltk==3.9.3
pandas==3.0.2
Pillow==12.2.0
protobuf==7.34.1
psutil==7.2.1
PyInstaller==6.19.0
pyOpenSSL==26.0.0
pytest==9.0.2
pytest_run_parallel==0.8.2
PyYAML==6.0.3
redis==7.4.0
scipy_doctest==2.2.0
setuptools==80.10.1
Sphinx==9.1.0
thread==2.0.6
threadpoolctl==3.6.0
# torch and torchvision versions depend on CUDA version
torch==2.10.0
torchvision==0.25.0
typing_extensions==4.15.0
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
